@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

*,
*::after,
*::before {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

#login-main-container {
    position: relative;
    background: url('../img/series-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.card {
    z-index: 2;
}

.material-icons.md-18 {
    font-size: 18px
}

.material-icons.md-24 {
    font-size: 24px
}

.material-icons.md-36 {
    font-size: 36px
}

.material-icons.md-48 {
    font-size: 48px
}