@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

*,
*::after,
*::before {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #777;

    &.active {
        color: #7957d5;
        font-weight: 600;
    }
}

.card {
    z-index: 2;
}

.material-icons.md-18 {
    font-size: 18px
}

.material-icons.md-24 {
    font-size: 24px
}

.material-icons.md-36 {
    font-size: 36px
}

.material-icons.md-48 {
    font-size: 48px
}